*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gilroy';
}


.container{
    animation-name: xanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.alphabets h3{
    font-size: 17px;
    padding: 0.6vw 1vw;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all ease 0.2s;
}

.alphabets h3:hover{
    border: 1px solid black;
    cursor: pointer;
}

.marquee{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.marquetext{
    -webkit-text-stroke: 2px black;
    color: transparent;
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding: 0.5vw 0.6vw;
}

.premier{
    position: relative;
}
.premier::after{
    content: "©️";
    font-weight: 500;
    position: absolute;
    left: 66%;
    bottom: 34%;
    font-size: 20px;
}


.premier::before{
    content: "model management";
    font-weight: 500;
    word-spacing: 0.002px;
    letter-spacing: 1px;
    line-height: 10px;
    position: absolute;
    /* left: 66%; */
    bottom: 10%;
    right:35%;
    font-size: 9px;
}

@keyframes move {
    from{
        transform: translate(0%);
    }

    to{
        transform: translate(-100%);
    }

    
}

@keyframes xanimation {

    from{
        transform: translate(0);
    }

    to{
        transform: translate(-100%);
    }
    
}